@use "variables";

#main .scroll-box-arrows {
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  width: auto;
  display: flex;
  justify-content: space-between;

  button {
    pointer-events: all;
    background: variables.$black-opacity;
    color: variables.$white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

ul.product-flags li.product-flag.discount {
  background-color: variables.$gray-light;
  color: variables.$black;
  font-weight: 400;
}
