.breadcrumb-separator {
    padding: 0 0.5rem;
    color: #000;
    font-size: 1.4rem;
}

.breadcrumb,
.breadcrumb a,
.breadcrumb span {
    font-size: 1.2rem;
}

#wrapper .breadcrumb li::after,
#wrapper .breadcrumb li:last-child,
.breadcrumb-item + .breadcrumb-item::before {
    content: "" !important;
}

.breadcrumb ol li a,
.breadcrumb ol li .breadcrumb-separator {
    color: #7a7a7a !important;
}

.breadcrumb ol li:last-child span {
    color: #000 !important;
}


#main .scroll-box-arrows {
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
    width: auto;
    display: flex;
    justify-content: space-between;
}

#main .scroll-box-arrows button {
    pointer-events: all;
    background: rgba(0,0,0,0.3); 
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.product-flag.discount {
    background-color: #ddd !important;
    color: #000 !important; 
    font-weight: 400 !important;
}

.product-prices-before-after{
    display:flex;
    gap: 20px;
    align-items: center;
}

.current-price{
    font-weight: 800;
    font-size: 2rem;
    color: #000;
}

.product-discount{
    font-weight: 400;
    font-size: 1.4rem;
}

.product-buy-before-info{
    display: inline-block;
    color:#000;
    background-color: #ddd;
    padding: 15px;
}

.add-to-cart{
    background-color: #000;
    font-weight: 400;
}

.add-to-cart:hover{
    background-color: #363636;
}